.outer-container {

    border-bottom: 1px solid rgb(190, 188, 188);
    position: sticky;
    top: 0;
    background-color: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 900px;
    text-align: center;
    margin: auto;
    /* cursor: pointer; */
}
.inside-container {
    width: 250px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: end; */
}
.inside-container div{
    cursor: pointer;
}
button {
    background-color: #516CF1;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}